<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.1.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")



   


</head>

<body>
    <script>
        
         $(function () {
             $(window).scroll(function () {
                 
                 var b = $(".Layout_all_block_left");
                 var height_window = $(window).height();
                 var top_block = $(".Layout_all_block_left").offset().top - $(window).scrollTop();
                 var bot_block = $(".Layout_all_block_left").offset().top + $(".Layout_all_block_left").height() - $(window).scrollTop();
                 
                 if ($(".Layout_all_block_left").height() < (height_window - 60 - $(".Layout_footer").height())) {
                     var block = $(".Layout_all_block_left");
                     var str = 60 + pageYOffset;
                     block.offset({ top: str, left: block.offset().left });
                    
                 }
                 else {
                     var lvl = height_window  - $(".Layout_footer").height()-40;//если расширять то не правильно  в конце проверку что бы не заходил на футер и все
                     
                     if (bot_block < lvl) {
                         var block = $(".Layout_all_block_left");
                         var res = $(window).scrollTop() + $(window).height() - $(".Layout_footer").height() - block.height() - 10 -40;
                         block.offset({ top: res, left: block.offset().left });
                         
                     }
                     if (top_block > 60) {
                         var block = $(".Layout_all_block_left");
                         var res = $(window).scrollTop() + 60;
                         block.offset({ top: res, left: block.offset().left });
                        
                     }
                 }
                 //var test = $("#Record_photo_page_one_photo_block_id");
                 //test.offset({ top: test.offset().top, left: test.offset().left });
             });
         });
    </script>
    
    <div class="main_header">
        <div id="Record_photo_page_one_photo_block_id">

        </div>
        <div class="main_header_home">
            @Html.ActionLink("InMemes", "Index", "Home", new { }, new { @class = "link_standart_for_div" })
        </div>
        <div class="main_header_search">
            @Html.ActionLink("Поиск", "Search_main", "Home",new { },new {@class= "link_standart_for_div" })
        </div>
        @Html.Partial("_LoginPartial")
            @{
/*
 <div class="main_header_r_l">
<div class="main_header_r_l_but">
    @Html.ActionLink("Регистрация", "Register", "Account", new { }, new {@class= "link_standart_for_div" })
</div>
<div class="main_header_r_l_but">
    @Html.ActionLink("Войти", "Login", "Account", new { }, new { @class = "link_standart_for_div" })
    @{//@Html.Partial("_LoginPartial")
      }
</div>
</div>
*/
             }
            
        
    </div>
    
        <div id="Left_menu_personal_up_block_id" class="Left_menu_personal_up_block" onclick="return up()">
            <div class="Left_menu_personal_up_block_inscription">
                <h1>^</h1><p>НАВЕРХ</p>
            </div>
        </div>
        <div class="Layout_all_l_b">
            <div id="Layout_Left_menu_personal_block">
                @Html.Action("Left_menu_personal", "Home", new { })
            </div>
            

            <div class="Layout_body">
                @RenderBody()

            </div>
        </div>
    
        <footer class="Layout_footer">
            <hr />
            <p>@DateTime.Now</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")



        @RenderSection("scripts", required: false)
</body>
</html>
