<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.1.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <div class="main_header">
        <div class="main_header_home">
            @Html.ActionLink("InMemes", "Index", "Home", new { }, new { @class = "link_standart_for_div" })
        </div>
        @Html.Partial("_LoginPartial")
            @{
/*
 <div class="main_header_r_l">
<div class="main_header_r_l_but">
    @Html.ActionLink("Регистрация", "Register", "Account", new { }, new {@class= "link_standart_for_div" })
</div>
<div class="main_header_r_l_but">
    @Html.ActionLink("Войти", "Login", "Account", new { }, new { @class = "link_standart_for_div" })
    @{//@Html.Partial("_LoginPartial")
      }
</div>
</div>
*/
             }
            
        
    </div>
    <div id="Left_menu_personal_up_block_id" class="Left_menu_personal_up_block" onclick="return up()">
        <div class="Left_menu_personal_up_block_inscription">
            <h1>^</h1><p>НАВЕРХ</p>
        </div>
    </div>
    <div class="Layout_all_l_b">
        
            @Html.Action("Left_menu_personal", "Home", new { })
        
        <div class="Layout_body">
            @RenderBody()

        </div>
    </div>
    <hr />
    <footer>
        <p>@DateTime.Now</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
        
    
    @RenderSection("scripts", required: false)
</body>
</html>
