@model Im.Models.Person_info_short
@{  string message = "Показать полностью";}
@using Newtonsoft.Json;
<div id="Personal_record_Not_main_info_id">
    @if (ViewBag.open == true)
    {
        //закрыть
        


    }
    @if (ViewBag.open == false)
    {
        //открыть
        message = "Скрыть";

    <div class="Get_info_person_ajax_1_div_all">
        @if (Model.Age != null)
        {
            <div class="Get_info_person_ajax_1_div_1_info"><div class="Get_info_person_ajax_1_p_left">Возраст</div><div class="Get_info_person_ajax_1_p_right">@ViewBag.Age</div></div>
        }
        @if (Model.Country != null)
        {
            <div class="Get_info_person_ajax_1_div_1_info"><div class="Get_info_person_ajax_1_p_left">Страна</div><div class="Get_info_person_ajax_1_p_right">@ViewBag.Country</div></div>
        }
        @if (Model.Town != null)
        {
            <div class="Get_info_person_ajax_1_div_1_info"><div class="Get_info_person_ajax_1_p_left">Город</div><div class="Get_info_person_ajax_1_p_right">@ViewBag.Town</div></div>
        }
        @if (Model.Street != null)
        {
            <div class="Get_info_person_ajax_1_div_1_info"><div class="Get_info_person_ajax_1_p_left">Улица</div><div class="Get_info_person_ajax_1_p_right">@ViewBag.Street</div></div>
        }
        @if (Model.Description != null)
        {
            <div class="Get_info_person_ajax_1_div_1_info"><div class="Get_info_person_ajax_1_p_left">О Себе</div><div class="Get_info_person_ajax_1_p_right">@ViewBag.Description</div></div>
        }
        
    </div>

    }


    <div class="Get_info_person_ajax_1_show_n">

        @{ 
            ViewBag.open = !ViewBag.open;
        }
        @Ajax.ActionLink(message, "Get_info_person_ajax_1", "Home",
new { open = ViewBag.open ,id= ViewBag.Id ,obg= JsonConvert.SerializeObject(Model) },//TODO , id = Model.Id
new AjaxOptions { UpdateTargetId = "Personal_record_Not_main_info_id" }, new { @class = "link_standart_for_div" })
    </div>
</div>