@model IEnumerable<Im.Models.Message>

@{
    ViewBag.Title = "Messages_one_dialog";
}



<div>
<div  class="Messages_one_dialog_left_block_all">
    <div class="Messages_one_dialog_left_block_top">

    </div>
    @if (Model.Count() < 1)
    {
        <p>Сообщений пока что нет</p>
    }
    @foreach (var i in Model)
    {
        <div class="div_color_white Messages_one_dialog_one_message_block_all">



            @if (i.Image != null)
                    {
                        <div class="Messages_one_dialog_img_one_friend" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(i.Image) );background-size: cover; ">
                            <a class="link_standart_for_circle_30_div" href='@Url.Action("Personal_record", "Home",new { id = i.Person_id } )'></a>
                        </div>
                    }
                    @if (i.Image == null)
                    {


                        <div class="Messages_one_dialog_img_one_friend" style="background: url('/Content/images/H98hxNY4xTo.jpg');background-size: cover;">
                            <a class="link_standart_for_circle_30_div" href='@Url.Action("Personal_record", "Home",new {id = i.Person_id } )'></a>
                        </div>
                    }
            <div class="Messages_one_dialog_one_message_right">
                <div class="Messages_one_dialog_name_one_friend">

                    @{
                        //i.Person_Name в ссыль вместо текста
                    }
                    <p>@Html.ActionLink(i.Person_Name, "Personal_record", "Home", new { id = i.Person_id }, new { @class = "Messages_one_dialog_person_name_message" }) </p>
                </div>
                <div class="Messages_one_dialog_one_,essage_text">
                    @i.Message_text
                </div>
            </div>







            </div>
    }
    <div class="div_color_white Messages_one_dialog_message_form">

        @{ 

            /*<form  action="@Url.Action("Add_new_message","Home")" method="POST" enctype="multipart/form-data">
            <input id="fileInput" name="fileInput" type="file" />
            @Html.Editor("message_text", new { })
            <input type="submit" value="Upload file"  />
        </form>*/
        }
        

            @using (Html.BeginForm("Add_new_message", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("Id_dialog", (string)ViewBag.Id_dialog)

                @Html.Editor("message_text", new { })
                <input type="file" name="uploadImage[0]" />
                <input type="submit" class="submit" value="Отправить сообщение" />
            }
        

    </div>
    
    </div>
    <div class="Messages_one_dialog_right_block_all"></div>


</div>


