@section scripts
    {
    @Scripts.Render("~/scripts/jquery-3.1.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
}
@model Im.Models.Personal_record
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Personal_record";
    Im.Models.Person_info_short info_in_inf_aj = new Im.Models.Person_info_short(Model);
}

<div  class="Personal_record_body_left_block">
    <div class="Personal_record_main_img_lvl_1_div">
        <div class="Personal_record_main_img_div">
           @if (Model.Main_images.Count>0)
           {
            @Html.Raw(string.Concat("<img  class='Personal_record_main_img'  id ='Personal_record_main_img_id'", " src=\"data:image/jpeg;base64,"
, Convert.ToBase64String(Model.Main_images[0]), "\" />"))
           }
            @if (Model.Main_images.Count == 0)
            {
                <img src="~/Content/images/H98hxNY4xTo.jpg" />
            }


             
            
        </div>
        <div class="Personal_record_edit_under_main_img">
            <div>
                @using (Html.BeginForm("Add_new_image", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    @Html.Hidden("from", "person")
                    @Html.Hidden("for_what", "main_img")
                    
                    <input type="file" name="uploadImage[0]" />
                    <input type="submit" class="submit" value="Поделиться" />
                }
            </div>
            
            @Html.ActionLink("Редактировать", "Edit_personal_record","Home",new { },new {@class= "link_standart_for_div" })
        </div>
    </div>



</div>
<div class="Personal_record_body_right_block">
    <div class="Personal_record_body_right_block_info_main div_color_white">
        <h1>@Model.db.Name   @Model.db.Surname</h1><div>
               @if (Model.db.Online)
               {
                <h1>Online</h1>
               }
            @if (!Model.db.Online)
            {
            <h1>Ofline</h1>
            }</div>
        
            <p>@Model.db.Status</p>
        
        
        <hr />
        <div class="Personal_record_main_info_1"></div>
        @Html.Action("Get_info_person_ajax_1", "Home", new { open = true, obg= JsonConvert.SerializeObject(info_in_inf_aj), id = Model.db.Id })
        
        
        
        <hr />
        <div class="Personal_record_num">
            
                <div class="Personal_record_num_div_small_block">
                    @{ 
<p  class="Personal_record_num_p_big">@Model.db.Friends_count</p>
                        <p class="Personal_record_num_p_small">Друзей</p>
                    }

                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
<p class="Personal_record_num_p_big">@Model.db.Followers_ignore_count</p>
                        <p class="Personal_record_num_p_small">Подписчиков</p>
                    }
                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
<p class="Personal_record_num_p_big">@Model.db.Images_count</p>
                        <p class="Personal_record_num_p_small">Фотографий</p>
                    }
                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
                        <p class="Personal_record_num_p_big">0</p>
                        <p class="Personal_record_num_p_small">что то</p>
                    }
                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
                        <p class="Personal_record_num_p_big">0</p>
                        <p class="Personal_record_num_p_small">что то</p>
                    }
                </div>

        </div>

    </div>
    <div class="Personal_record_photo_block div_color_white">
        <div>@Html.ActionLink("Фотографии", "Record_photo_page", "Home", new { id = Model.db.Id }, new { })</div>
       
         

 @for (int i = 0; i < Model.Images.Count; ++i)
 {
    <div  class='Personal_record_not_main_img_small'>
        @Html.Raw(string.Concat("<img", " src=\"data:image/jpeg;base64,"
, Convert.ToBase64String(Model.Images[i]), "\" />"))
    </div>
 }

        
        
                


    </div>

    <div class="Personal_record_wall">
        <div class="div_color_white">
            @using (Html.BeginForm("Add_new_memes", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("bool_access", "person")
                @Html.Hidden("id", Model.db.Id)
                @Html.Editor("Description_mem", new { })
                <input type="file" name="uploadImage[0]" />
                <input type="submit" class="submit" value="Поделиться" />
            }
        </div>
        @Html.Action("Wall_memes","Home",new { from= "Personal_record" ,id=Model.db.Id})
       

    </div>
</div>