@section scripts
    {
    @{ 
/*@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")*/
    }
    
}
@model Im.Models.Personal_record
@using Newtonsoft.Json;
@{
        ViewBag.Title = "Personal_record";
        Im.Models.Person_info_short info_in_inf_aj = new Im.Models.Person_info_short(Model);


        AjaxOptions ajaxOpts = new AjaxOptions
        {
            UpdateTargetId = "Wall_memes_all_memes_wall_id_for_replace",
            Url = Url.Action("Additionally_Download"),
            InsertionMode = InsertionMode.InsertAfter

    };
}
<script>
    function click_subm_load_wall() {
        var hid = document.getElementById('start_for_form');
        hid.value = +hid.value + 10;

    }

</script>
<div  class="Personal_record_body_left_block Layout_all_block_left">
    <div class="Personal_record_main_img_lvl_1_div">


        @{
            /*<div class="Personal_record_main_img_div" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(Model.Main_images[0].bytes) );background-size: cover; ">
                @Ajax.ActionLink(" ", "Record_photo_page", "Home", new { id_image = Model.Main_images[0].Id }, new AjaxOptions { UpdateTargetId = "Record_photo_page_one_photo_block_id" }, new { @class = "link_standart_for_div" })


            </div>*/

        }
       

        

            @if (Model.Main_images.Count > 0)
            {
                <div class="Personal_record_main_img_div" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(Model.Main_images[0].Image.bytes) ) no-repeat;background-size: cover;">
                    @Ajax.ActionLink(" ", "Record_photo_page", "Home", new { from_id=Model.db.Id, main_img=true, id_image = Model.Main_images[0].db.Id, from_type = "Personal_record" }, new AjaxOptions { UpdateTargetId = "Record_photo_page_one_photo_block_id" }, new { @class = "link_standart_for_div" })


                </div>
            }
            @if (Model.Main_images.Count == 0)
            {
                <div class="Personal_record_main_img_div">
                    <img src="~/Content/images/H98hxNY4xTo.jpg" />
                </div>
            }
        
            @{
                /*<div class="Personal_record_main_img_div">
                        @if (Model.Main_images.Count > 0)
                        {
                            @Html.Raw(string.Concat("<img  class='Personal_record_main_img'  id ='Personal_record_main_img_id'", " src=\"data:image/jpeg;base64,"
                , Convert.ToBase64String(Model.Main_images[0].bytes), "\" />"))
                        }
                        @if (Model.Main_images.Count == 0)
                        {
                            <img src="~/Content/images/H98hxNY4xTo.jpg" />
                        }




                    </div>*/
            }

            <div class="Personal_record_edit_under_main_img">
@if (ViewBag.My_page != null && (bool)ViewBag.My_page)
{
                <div>
                    @using (Html.BeginForm("Add_new_image", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.Hidden("from", "Personal_record")
                        @Html.Hidden("for_what", "main_img")

                        <input type="file" name="uploadImage[0]" />
                            <input type="submit" class="submit" value="Поделиться" />
                    }
                </div>
}
                @{ 
                    /*@if (ViewBag.My_page != null && (bool)ViewBag.My_page)
                {
                    @Html.ActionLink("Редактировать", "Edit_personal_record", "Home", new { }, new { @class = "link_standart_for_div" })

                }*/
                }
                
                @if (ViewBag.My_page != null && !(bool)ViewBag.My_page)
                {
                    @Html.Action("Follow_ajax", "Home", new { from = "Personal_record", id = Model.db.Id })
                }
                <div class="Personal_record_open_message">
                    @Html.ActionLink("Написать сообщение", "Messages_one_dialog", "Home", new { person_id = Model.db.Id }, new {@class= "link_standart_for_div" })
                </div>
                

            </div>
        </div>

    @if (Model.Friends.Count > 0)
    {
        <div class="div_color_white Personal_record_friend_all_block">
            @Html.ActionLink("Друзья", "Friends", "Home", new { what = "Friends", from = "Personal_record", id = Model.db.Id }, new { })
            <div>

                @foreach (var i in Model.Friends)
                {
                    <div class="Personal_record_one_friend_block">

                        @if (i.Image != null)
                    {
                            <div class="Personal_record_one_friend_img" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(i.Image) );background-size: cover; ">
                                <a class="link_standart_for_circle_50_div" href='@Url.Action("Personal_record", "Home",new { id = i.Person_id } )'></a>
                            </div>
                        }
                        @if (i.Image == null)
                        {
                            //background-size: cover;background - size: 60px 60px;

                            <div class="Personal_record_one_friend_img" style="background: url('/Content/images/H98hxNY4xTo.jpg');background-size: cover;">
                                <a class="link_standart_for_circle_50_div" href='@Url.Action("Personal_record", "Home",new {id = i.Person_id } )'></a>
                            </div>
                        }

                        <p>@Html.ActionLink(i.Name, "Personal_record", "Home", new { id = i.Person_id }, new { }) </p>
                    </div>
                }

            </div>

        </div>
    }
    @if (Model.Groups.Count > 0)
    {
    <div class="div_color_white Personal_record_groups_block_all">

        @Html.ActionLink("Группы", "Groups_personal", "Home", new { from = "Personal_record", id = Model.db.Id }, new { })
        <div>

            @foreach (var i in Model.Groups)
            {
                <div class="Personal_record_one_group">


                    @if (i.Image != null)
                    {
                        <div class="Personal_record_group_img_block" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(i.Image) );background-size: cover; ">


                            <a class="link_standart_for_circle_30_div" href='@Url.Action("Group_record", "Home", new { id = i.Id })'></a>
                        </div>
                    }
                    @if (i.Image == null)
                    {
                        //background-size: cover;background - size: 60px 60px;

                        <div class="Personal_record_group_img_block" style="background: url('/Content/images/H98hxNY4xTo.jpg');background-size: cover;">
                            <a class="link_standart_for_circle_30_div" href='@Url.Action("Group_record", "Home", new { id = i.Id })'></a>
                        </div>
                    }



                    <div class="Personal_record_group_info_block">
                        <p>@Html.ActionLink(@i.Name, "Group_record", "Home", new { id = i.Id }, new { }) </p>
                        <p>подписоты: @((int)ViewBag.Count_followers) </p>
                        <p>@i.Status</p>
                    </div>
                </div>
            }
        </div>
    </div>
    }
@if (Model.Albums.Count > 0)
{
        <div class="div_color_white Personal_record_albums">
            <div>
                @Html.ActionLink("Альбомы", "Albums", "Home", new { id = Model.db.Id, from_type = "Personal_record" }, new { })
        </div>
            @foreach (var i in Model.Albums)
            {

                <div class="Personal_record_one_album_block">
                    <div class="Personal_record_one_album_main_img_block" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(i.Image.bytes) );background-size: cover; ">
                        @Html.ActionLink(" ", "Albums", "Home", new { id = Model.db.Id, album_name = i.Image.Albums, from_type = "Personal_record" }, new { @class = "link_standart_for_div" })

                    </div>
                    @if (@i.Image.Albums == "")
                    {
                        <div class="Personal_record_one_album_name">
                            @Html.ActionLink("Все Альбомы", "Albums", "Home", new { id = Model.db.Id, album_name = i.Image.Albums, from_type = "Personal_record" }, new { @class = "link_standart_for_div" })

                            </div>

                    }
                    @if (@i.Image.Albums != "")
                    {
                        <div class="Personal_record_one_album_name">
                            @Html.ActionLink(@i.Image.Albums, "Albums", "Home", new { id = Model.db.Id, album_name = i.Image.Albums, from_type = "Personal_record" }, new { @class = "link_standart_for_div" })

                            </div>

                    }

                </div>

            }
        </div>
}
        <div class="div_color_white">Видео</div>
        <div class="div_color_white">Аудио</div>
    

</div>
<div class="Personal_record_body_right_block ">
    <div class="Personal_record_body_right_block_info_main div_color_white">
        <h1>@Model.db.Name   @Model.db.Surname</h1><div>
               @if (Model.db.Online)
               {
                <h1>Online</h1>
               }
            @if (!Model.db.Online)
            {
           // <h1>Ofline</h1>
            }</div>
        
            <p>@Model.db.Status</p>
        
        
        <hr />
        <div class="Personal_record_main_info_1">
            <p>@Model.db.Birthday</p>
            <p>СП</p>
            <p>ПОЛ?</p>
            <p>ТД</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>

        </div>
        <hr />
        @Html.Action("Get_info_person_ajax_1", "Home", new { open = true, obg= JsonConvert.SerializeObject(info_in_inf_aj), id = Model.db.Id })
        
        
        
        <hr />
        <div class="Personal_record_num">
            
                <div class="Personal_record_num_div_small_block">
                    <a href=@Url.Action("Friends","Home") class="link_standart_for_div">
                        <div class="Personal_record_num_div_small_block_lvl_1">
                            <p class="Personal_record_num_p_big">@Model.db.Friends_count</p>
                            <p class="Personal_record_num_p_small">Друзей</p>
                        </div>
                    </a>
                        
                    

                </div>


                <div class="Personal_record_num_div_small_block">
                    <a href=@Url.Action("Friends","Home") class="link_standart_for_div">
                        <div class="Personal_record_num_div_small_block_lvl_1">
                            <p class="Personal_record_num_p_big">@Model.db.Followers_ignore_count</p>
                            <p class="Personal_record_num_p_small">Подписчиков</p>
                        </div>
                    </a>

                </div>
                <div class="Personal_record_num_div_small_block">

                    <a href=@Url.Action("Albums", "Home") class="link_standart_for_div">
                        <div class="Personal_record_num_div_small_block_lvl_1">
                            <p class="Personal_record_num_p_big">@Model.db.Images_count</p>
                            <p class="Personal_record_num_p_small">Фотографий</p>
                        </div>
                    </a>

                    
                </div>
                <div class="Personal_record_num_div_small_block">
                    <a href=@Url.Action("Personal_record", "Home") class="link_standart_for_div">
                        <div class="Personal_record_num_div_small_block_lvl_1">
                            <p class="Personal_record_num_p_big">0</p>
                            <p class="Personal_record_num_p_small">что то</p>
                        </div>
                    </a>
                    
                </div>
                <div class="Personal_record_num_div_small_block">
                    <a href=@Url.Action("Personal_record", "Home") class="link_standart_for_div">
                        <div class="Personal_record_num_div_small_block_lvl_1">
                            <p class="Personal_record_num_p_big">0</p>
                            <p class="Personal_record_num_p_small">что то</p>
                        </div>
                    </a>
                </div>

        </div>

    </div>
    @if (Model.Images.Count > 0)
    {
        <div class="Personal_record_photo_block div_color_white">
            <div>@Html.ActionLink("Фотографии", "Albums", "Home", new { id = Model.db.Id, from_type = "Personal_record" }, new { })</div>



            @for (int i = 0; i < Model.Images.Count; ++i)
            {

                <div class="Personal_record_not_main_img_small" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(Model.Images[i].Image.bytes) ) no-repeat;background-size: cover;">
                    @Ajax.ActionLink(" ", "Record_photo_page", "Home", new { from_id = Model.db.Id, id_image = Model.Images[i].db.Id, from_type = "Personal_record" }, new AjaxOptions { UpdateTargetId = "Record_photo_page_one_photo_block_id" }, new { @class = "link_standart_for_div" })
                </div>

            }


        </div>
    }
    

    <div class="Personal_record_wall">
        <div class="div_color_white">
            @using (Html.BeginForm("Add_new_memes", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("bool_access", "person")
                @Html.Hidden("id", Model.db.Id)
                @Html.Editor("Description_mem", new { })
                <input type="file" name="uploadImage[0]" />
                <input type="submit" class="submit" value="Поделиться" />
            }
        </div>
        <div class="Wall_memes_all_memes_wall">

            <div id="Wall_memes_all_memes_wall_id_for_replace">

                @Html.Action("Wall_memes", "Home", new { from = "Personal_record", id = Model.db.Id })
            </div>


            </div>
        <div>


            @using (@Ajax.BeginForm(ajaxOpts))
            {

                @Html.Hidden("start_for_form", 0)
                @Html.Hidden("from", "Personal_record")
                @Html.Hidden("id", Model.db.Id)
                @Html.Hidden("what_download", "Wall")
                        
                        <input type = "submit" onclick="click_subm_load_wall();" value = "Загрузить еще" class="" />
            }

        </div>

    </div>
    </div>