@section scripts
    {
    @Scripts.Render("~/scripts/jquery-3.1.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
}
@model Im.Models.ApplicationUser
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Personal_record";
    Im.Models.Person_info_short info_in_inf_aj = new Im.Models.Person_info_short(Model);
}

<div  class="Personal_record_body_left_block">
    <div class="Personal_record_main_img_lvl_1_div">
        <div class="Personal_record_main_img_div">
            @{/*
@Html.Raw(string.Concat("<img  class='Personal_record_main_img'  id ='Personal_record_main_img_id'", " src=\"data:image/jpeg;base64,"
, Convert.ToBase64String(Model.Main_images[0]), "\" />"))
*/
             }
            
        </div>
        <div class="Personal_record_edit_under_main_img">
            @Html.ActionLink("Редатировать", "Edit_personal_record","Home",new { },new {@class= "link_standart_for_div" })
        </div>
    </div>



</div>
<div class="Personal_record_body_right_block">
    <div class="Personal_record_body_right_block_info_main div_color_white">
        <h1>@Model.Name   @Model.Surname</h1><div>
               @if (Model.Online)
               {
                <h1>Online</h1>
               }
            @if (!Model.Online)
            {
            <h1>Ofline</h1>
            }</div>
        
            <p>@Model.Status</p>
        
        
        <hr />
        <div class="Personal_record_main_info_1"></div>
        @Html.Action("Get_info_person_ajax_1", "Home", new { open = true, obg= JsonConvert.SerializeObject(info_in_inf_aj), id = Model.Id })
        
        
        
        <hr />
        <div class="Personal_record_num">
            
                <div class="Personal_record_num_div_small_block">
                    @{ 
<p  class="Personal_record_num_p_big">@Model.Friends_count</p>
                        <p class="Personal_record_num_p_small">Друзей</p>
                    }

                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
<p class="Personal_record_num_p_big">@Model.Followers_ignore_count</p>
                        <p class="Personal_record_num_p_small">Подписчиков</p>
                    }
                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
<p class="Personal_record_num_p_big">@Model.Images_count</p>
                        <p class="Personal_record_num_p_small">Фотографий</p>
                    }
                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
                        <p class="Personal_record_num_p_big">0</p>
                        <p class="Personal_record_num_p_small">что то</p>
                    }
                </div>
                <div class="Personal_record_num_div_small_block">
                    @{
                        <p class="Personal_record_num_p_big">0</p>
                        <p class="Personal_record_num_p_small">что то</p>
                    }
                </div>

        </div>

    </div>
    <div class="Personal_record_photo_block div_color_white">
        @Html.ActionLink("Фотографии", "Record_photo_page", "Home", new {id=Model.Id }, new { })@{/*id=Model.Id*/}
        @{ 

 for (int i = 1; i < Model.Main_images.Count; ++i)
{

@Html.Raw(string.Concat("<img  class='Personal_record_not_main_img_small' ", " src=\"data:image/jpeg;base64,"
, Convert.ToBase64String(Model.Main_images[i]), "\" />"))

}

        }
        
                


    </div>

    <div class="Personal_record_wall">
        <div class="div_color_white">
            @using (Html.BeginForm("Add_new_memes", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Hidden("bool_access", "person")
                @Html.Hidden("id", Model.Id)
                @Html.Editor("Description", new { })
                <input type="file" name="uploadImage[0]" />
                <input type="submit" class="submit" value="Поделиться" />
            }
        </div>
        @Html.Action("Wall_memes","Home",new { from= "Personal_record" ,id=Model.Id})
       

    </div>
</div>